.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.text {
  margin-left: 10px;
  height: 26px;
  font-size: 23px;
  border-radius: 6px;
}

.wrap-one {
  display: flex;
  align-items: center;
}

.join-button {
  font-size: 23px;
  border-radius: 13px;
  color: green;
  padding: 3px 16px;
  text-decoration: none;
}
.btn {
  display: flex;
  justify-content: center;
  text-decoration: none;
}


.firstBox {
  margin-right: 50px;
}

.message {
  font-size: 83px;
  text-align: center;
}

.single-content .wp-block-button__link {
  text-decoration: none;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
